<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오목조목 게임방 관리 페이지</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!--font-->
    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap" rel="stylesheet">
</head>
<style>
    * {
        font-family: 'Sunflower', sans-serif;
        font-size: 13px;
    }

    .title_warp {
        height: 200px;
        background-color: #66CDAA;
    }

    .title {
        text-align: center;
        font-size: 40px;
        color: white;
        padding-top: 70px;
    }

    .homeButton{
        float: right;
    }

    .gameRoom {
        width: 1300px;
        padding-top: 50px;
        margin: auto;
    }
</style>
<script>
$(document).ready(function () {
    getGameRooms();
});

// 게임방 리스트 불러오기
function getGameRooms() {
    $.ajax({
        type: "GET",
        url: "/admin/gameRoom/list",
        data: {},
        success: function (response) {
            let gameRooms = response.gameRooms;
            console.log(gameRooms)
            for (let gameRoom of gameRooms) {
                let gameNum = gameRoom.gameNum;
                let gameName = gameRoom.gameName;
                let blackPlayer = gameRoom.blackPlayer;
                let whitePlayer = gameRoom.whitePlayer;
                let temp_html = `<tr>
                                    <th scope="col">${gameNum}</th>
                                    <th scope="col">${gameName}</th>
                                    <th scope="col">${blackPlayer}</th>
                                    <th scope="col">${whitePlayer}</th>
                                    <th scope="col"><button type="button" class="btn btn-success" onclick="deleteRoom(${gameNum})">삭제</button></th>
                                    </tr>`
                                    $("#gameRoomList").append(temp_html);
                                }
                            }
                        })
                    };
// 게임방 삭제하기
function deleteRoom(gameNum){
    let deleteConfirm = confirm("정말로 삭제하시겠습니까?")
    if (deleteConfirm === true) {
    $.ajax({
            type: "DELETE",
            url: "/admin/gameRoom/delete/" + gameNum,
            data: {},
            success: function (response) {
                alert(response.message);
                window.location.replace("/admin/gameRoom");
            },
            error: function (error) {
                alert(error.responseJSON.errorMessage);
            }
        });
    };
};
// 관리자 홈페이지로 이동
function home() {
    window.location.replace("/admin/page")
}
</script>

<body>
    <form class="title_warp">
        <h2 class="title">오목조목 게임방 관리 페이지</h2>
    </form> <br>
    <div class="homeButton">
        <button type="button" class="btn btn-success" onclick="home()">관리자 홈페이지로</button>
    </div>
    <section>
        <div class="gameRoom">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">게임방 번호</th>
                        <th scope="col">게임방 이름</th>
                        <th scope="col">블랙 플레이어</th>
                        <th scope="col">화이트 플레이어</th>
                    </tr>
                </thead>
                <tbody id="gameRoomList">
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>